<!-- changedfrom ':post, url: posts_path' to '@post' -->
<%= form_for @post do |form| %>
  <% if @post.errors.any? %>
  <div id="errors">
    <ul>
      <% @post.errors.full_messages. each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
