<p>post show page!</p>

<h2 class="title">
  <%= @post.title %>
</h2>

<p class="date">
  Submitted <%= time_ago_in_words(@post.created_at) %> ago
  | <%= link_to 'Edit', edit_post_path(@post) %> | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
  <!-- confirm throws alert for user to confirm deletion -->
</p>

<p class="body">
  <%= @post.body %>
</p>
